In [3]:
import pandas as pd
df=pd.read_csv("./CSV/Banana Green.csv")
print(df.head())

   Sl no. District Name                    Market Name       Commodity  \
0       1    Dharmapuri  AJattihalli(Uzhavar Sandhai )  Banana - Green
1       2    Dharmapuri  AJattihalli(Uzhavar Sandhai )  Banana - Green
2       3    Dharmapuri  AJattihalli(Uzhavar Sandhai )  Banana - Green
3       4    Dharmapuri  AJattihalli(Uzhavar Sandhai )  Banana - Green
4       5    Dharmapuri  AJattihalli(Uzhavar Sandhai )  Banana - Green

          Variety  Grade  Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0  Banana - Green  Local                   2000.0                     2500
1  Banana - Green  Local                   2000.0                     2500
2  Banana - Green  Local                   2000.0                     2500
3  Banana - Green  Local                   2000.0                     2500
4  Banana - Green  Local                   2000.0                     2500

   Modal Price (Rs./Quintal)   Price Date
0                       2500  01 Oct 2024
1                       2500  24 Dec 2024
2                       2500  30 Dec 2024
3                       2500  30 Sep 2024
4                       2500  31 Dec 2024

In [4]:
print(df.isnull().sum())

Sl no.                       0
District Name                0
Market Name                  0
Commodity                    0
Variety                      0
Grade                        0
Min Price (Rs./Quintal)      0
Max Price (Rs./Quintal)      0
Modal Price (Rs./Quintal)    0
Price Date                   0
dtype: int64

In [5]:
df['Price Date'] = pd.to_datetime(df['Price Date'])